.quotebox{
    max-width: 400px;
    display: grid;
    gap: 20px;
    justify-items: center;
}


.quotebox_title{
    font-size: 40px;
    margin-bottom: 20px;
}


.quotebox_box{
    width: 275px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.3));
    border-radius: 15%;
    padding: 15px;
    color: purple;
    font-weight: 700;
}


.quotebox_btn{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border-style: none;
}
.quotebox_btn img:hover{
    background-color: blue;
    cursor:pointer;
}


.quotebox_btn img:active{
    background-color: red;
    cursor:pointer;
}

.quotebox_btn img{
    position: relative;
    bottom: 8%;
    right: 45%;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border-style: none;
    z-index: 100;
}

.quotebox_author{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
} 

.planet1{
    background-image: url(/Images/planeta1.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.planet2{
    background-image: url(/Images/planeta2.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.planet3{
    background-image: url(/Images/planeta3.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.planet4{
    background-image: url(/Images/planeta4.png);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
} 
