.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    color: white;
    background-size: cover;
    font-family: 'DS-Digital', sans-serif;
}

.bg1{
    background-image: url(/Images/Universe_1.webp);
}

.bg2{
    background-image: url(/Images/Universe_2.webp);
}

.bg3{
    background-image: url(/Images/Universe_3.webp);
}

.bg4{
    background-image: url(/Images/Universe_4.jpg);
}